.dirM {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* This will stop page going after footer */
    overflow: hidden;
    overflow-x: scroll;
    color: #52a76e;
}

.dirM_nav {
    z-index: 2;
}

.dirM_title {
    text-align: center;
    font-size: 60px;
    padding-top: 4rem;
}

.dirM_body {
    flex: 1;
    margin-left: .75rem;
    margin-right: 0.75rem;
    line-height: 1.8rem;
    min-width: 800px;
}

.dirM_intro {

    padding-bottom: 1rem;
    text-align: center;
}

.dirM_struct{
    
}

.dirM_struct_title {
    font-size: 25pt;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.dirM_struct{
    text-indent: 4em;
    padding-bottom: 2rem;
}

.dirM_heirarchy{
    padding-top: 3rem;
    margin-left: 30%;
}

.tree_img_resource{
    padding-top: 1rem;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 1rem;
}

.dirM_title, .dirM_intro, .dirM_struct_title, .dirM_struct p, .dirM_pwd p, .pwd_title, .cd_title,
.dirM_cd p, .mkdir_title, .dirM_mkdir p, .rmdir_title, .dirM_rmdir p, .du_title, .dirM_du p, .dm_quiz_title{
    font-family: 'Courier New', Courier, monospace;
}

.dirM_pwd span, .dirM_cd span, .dirM_mkdir span, .mkdir_ex, .dirM_rmdir span, .rmdir_ex, .dirM_du span{
    color: rgb(253, 126, 126);
    font-family: 'Courier New', Courier, monospace;
} 

.pwd_title, .cd_title, .mkdir_title, .rmdir_title, .du_title{
    font-size: 25pt;
}


.dirM_pwd{ 
    padding-bottom: 2rem;
}


.dirM_pwd p{
    padding-top: 1rem;
}

.pwd_title{
    padding-top: 4rem;
}

.dirM_cd{
    border-collapse:separate;
    border-spacing: 0 15pt;
    padding-bottom: 2rem;
}


.dirM_mkdir{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mkdir_ex{
    text-align: center;
}

.dirM_rmdir{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.rmdir_ex{
    text-align: center;
}

.dirM_du{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.dm_quiz{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.dm_quiz_title{
    text-align: center;
    padding-bottom: 1rem;
}






