.dm_practice{
    display: flex;
}

.grid_right, .grid_left{
    position: absolute;
    /* flex:50%; */
    height: 250px;
}

.grid_left{
    left: 3rem;
    width: 500px
}
.grid_right{
    right: 2rem;
}


.question_number{
    font-size: 24pt;
    color:rgba(124, 255, 124);
}

.question_text{
    font-size: 13pt;
    padding-top: 2rem;
    color:rgba(124, 255, 124);
}



.terminal img{
    position:relative;
}
.terminal_input_cmd{
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: 3rem;
    margin-top: 4.70rem;
    font-weight: 100;
}

.dm_exit:hover, .dm_next:hover, .dm_restart:hover{
    cursor: pointer;
}

.dm_next{
    color:rgba(124, 255, 124);
    border: 2px solid;
    width: 50px;
    font-size: 13pt;
}

.dm_restart{
    color:rgba(124, 255, 124);
    border: 2px solid;
    margin-left: 10px;
    font-size: 13pt;
}

.dm_exit{
    position: relative;
    border: 2px solid;
    margin-left: 30rem;
    padding-left: 2px;
    padding-right: 2px;
    color:rgba(124, 255, 124);
    font-size: 13pt;
}
.wrong_ans{
    background-color: white;
    color: black;
    opacity: .75;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13pt;
}
