.env {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* This will stop page going after footer */
    overflow: hidden;
    overflow-x: scroll;
    color: #52a76e;
}

.env_body {
    flex: 1;
    margin-left: .75rem;
    margin-right: 0.75rem;
    line-height: 1.8rem;
    min-width: 800px;
}

.env_title, .env_body p, th, td, h3, .env_quiz_title{
    font-family: 'Courier New', Courier, monospace;
}

.env_body h3{
    font-size: 25pt;
    padding-top: 2rem;
}


.env_body span{
    color: rgb(253, 126, 126);
}

.env_title {
    text-align: center;
    font-size: 60px;
    padding-top: 4rem;
}

.env_intro {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}


.man_ex, .uname_ex, .passwd_ex, .whereis_ex,
.whatis_ex, .kill_ex, .amp_ex, .ssh_ex,
.ifconfig_ex, .ping_ex, .su_ex{
    padding-left: 42rem;
} 
.scp_ex, .g_ex{
    padding-left: 35rem;
}

.env_man, .env_uname, .env_who, .env_su, .env_passwd,
.env_env, .env_whereis, .env_whatis, .env_ps, .env_ctrl,
.env_kill, .env_amp, .env_bg, .env_fg, .env_top, .env_ssh,
.env_scp, .env_ifconfig, .env_ping, .env_g{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.env_ping p, .env_g p, .env_kill p, .env_ssh p, .env_whatis p,
.env_ps p, .env_whereis p, .env_passwd p{
    padding-bottom: 2rem;
}

.subtitle{
    padding-bottom: 2rem;
    /* text-align: center; */
}



.env_quiz_title{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}


