.FMPractice{
  display:flex
}


.FMPractice .terminal_input_cmd{
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    width: 100%;
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: 9.4em;
    margin-top: 1.8em;
    font-weight: 100;
    font-size: 20px;
    color:yellow
}

.FMPractice .terminal{
    white-space: pre-line;
}


.fm_exit:hover, .fm_next:hover, .fm_restart:hover{
    cursor: pointer;
}

.fm_next{
    color:rgba(124, 255, 124);
    border: 2px solid;
    width: 50px;
    font-size: 13pt;
}

.fm_restart{
    color:rgba(124, 255, 124);
    border: 2px solid;
    margin-left: 10px;
    font-size: 13pt;
}

.fm_exit{
    position: relative;
    border: 2px solid;
    margin-left: 30rem;
    padding-left: 2px;
    padding-right: 2px;
    color:rgba(124, 255, 124);
    font-size: 13pt;
}


.FMPractice .terminal img{
    position: relative;
    width:700px;
    height:500px
}