.FMPractice{
    background-color: #333;
    color: white;
    height: 100vh; 
    padding: 1rem;
    box-sizing: border-box;
    overflow: auto;
}

.terminal_input_cmd{
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    width: 100%;
}

.FMPractice .terminal{
    white-space: pre-line;
}

.fm_next{
    background-color: white;
}

.fm_next:hover{
    cursor: pointer;
}

.fm_exit{
    padding-left: 2rem;
    color: white;
}