/* Make footer stay at the bottom of the page without being fixed to screen */
.home{
  /* display:flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  min-width: 600px;   */
  background-image: url(../assets/home_background.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home_title{
  margin: auto;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 45pt;
  font-stretch: expanded;
  color: white;
  border-right: solid 3px white;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-write 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;

}


/* text animation def */
@keyframes animated-write {
  from{width: 0;}
  to{width: 472px;}
  
}

@keyframes animated-cursor {
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}


.card_wrapper{
  display: flex;
  flex-direction: row;
  gap: 2em;
  position: absolute;
  top: 60%;
  left: 2em;
  right: 2em
}

@media screen and (min-width: 77.5em){
  .home{
    background-size: 100% 100%;
  }
  
}
@media screen and (max-width:70em) {
  .home{
    background-size: 100% 100%;
    /* background-image: none; */
    position:relative;

  }
  .card_wrapper{
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 2em;
    right: 2em
  }

}

@media screen and (max-width: 31rem){
  .home_title{
    font-size: 30px;
  }

  /* text animation def */
  @keyframes animated-write {
    from{width: 0;}
    to{width: 300px;}
    
  }
}
