/* Make footer stay at the bottom of the page without being fixed to screen */
.home{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  min-width: 300px;
  background-image: url(../assets/home_background.png);
  background-attachment: fixed ;
  background-position: 50% 130%;
  background-size:cover;
}

.home_body{
  flex:1;
}

.home_title{
  /* text-align: center; */
  margin: auto;
  font-family: "Source Code Pro", monospace;
  font-size: 45pt;
  font-stretch: expanded;
  color: white;
  text-align: center;
  /* For cursor bar */
  border-right: solid 3px white;
  white-space: nowrap;
  overflow: hidden;
  /* animation */
  animation: animated-write 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;

}


/* text animation def */
@keyframes animated-write {
  from{width: 0;}
  to{width: 472px;}
  
}

@keyframes animated-cursor {
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}


.card_wrapper{
  /* position: absolute; */
  /* margin-left: 2rem;
  margin-top: 16rem;
  margin-bottom: 4rem; */
  /* display: grid; */
  /* grid-template-columns: repeat(5, minmax(12rem, 16rem));
  grid-gap: 2rem; */
/* 
  text-align: center; */
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 16em;
  margin-bottom: 4em;
}

@media screen and (min-width: 1550px){
  .card_wrapper{
    margin-top: 20em;
  }
  
}

@media screen and (max-width: 600px){
  /* .home{
    background-position: 50% 130%;
  } */
  .home_title{
    display: none;
  }
  .card_wrapper{
    grid-template-rows: repeat(1, minmax(5rem, 9rem));
    grid-template-rows: repeat(5, minmax(5rem, 9rem));
  }
}


