/* Make footer stay at the bottom of the page without being fixed to screen */
.home{
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home_title{
  margin: auto;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 45pt;
  font-stretch: expanded;
  color: white;
  border-right: solid 3px white;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-write 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;

}


/* text animation def */
@keyframes animated-write {
  from{width: 0;}
  to{width: 472px;}
  
}

@keyframes animated-cursor {
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}


.lessons{
  color: white;
  text-align: center;
  font-size: 30pt;
}

.card_wrapper{
  display: flex;
  flex-direction: row;
  gap: 2em;
  position: absolute;
  top: 60%;
  left: 2em;
  right: 2em
}

@media screen and (min-width: 77.5em){
  .home{
    background-size: 100% 100%;
  }
  
}
@media screen and (max-width:70em) {
  .home{
    background-size: 100% 100%;
    /* background-image: none; */
    position:relative;

  }
  .card_wrapper{
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 2em;
    right: 2em
  }

}

@media screen and (max-width: 31rem){
  .home_title{
    font-size: 35pt;
  }
}

.bar_wrapper{
  height: 2rem;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 2.5rem;
  margin: 5rem 3rem 3rem 3rem;

}

.bar_innerwrap{
  height: 100%;
  background-color: rgb(210, 255, 151);
  background: linear-gradient(100deg, #88ff00 0%, #7ac84d 20%, #3acd64 45%, #5eb080 70%, #11ffb3 90%);
  border-radius: 2.5rem;
  text-align: center;
  box-shadow:
      0 0 1px 2px #fff, 
      0 0 2px 5px rgb(210, 255, 151), 
      0 0 5px 7px rgb(241, 255, 223); 
}

.progress_text{
  color: black;
  font-weight: bold;
  line-height: 2rem;
}
