@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

.intro {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* This will stop page going after footer */
  overflow: hidden;
  overflow-x: scroll;
  color: #52a76e;
}

.intro_nav{
  z-index: 2;
}

.break{
  text-align: center;
}

.intro_title {
  text-align: center;
  font-size: 60px;
  padding-top: 4rem;
  font-family: 'Courier New', Courier, monospace;
}

.intro_body {
  flex: 1;
  margin-left: .75rem;
  margin-right: 0.75rem;
  line-height: 1.8rem;
  /* min-width: 800px; */
}

.intro_intro{
  padding-bottom: 1rem;
  text-align: center;
}

.intro_topic1{
  font-size: 25pt;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.intro_os,
.intro_intro,
.intro_background {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 13pt;
}

.intro_intro, .intro_os{
  padding-top: 1rem;
}

.intro_os, .intro_background{
  text-indent: 4em;
}

.intro_warning{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-bottom: 5rem;
}


.unics_reasons {
  list-style-type: square;
  margin-left: 2rem;
  font-size: 13pt;
  padding-top: 1rem;
}

.unics_reasons li{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}


/* Uses section */

.uses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    padding-bottom: 5rem;
}

.intro_topic2 {
  font-size: 25pt;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 7rem;
  padding-top: 4rem;

}

/* Hover pics */

.mod{
  max-width: 20rem;
  width: 100%;
  max-height: 9.4rem;
  height: auto;
  margin-top: 1rem;
}


.mod_text {
  width: 12.5rem;
  visibility: hidden;
  z-index: -1;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-left: 2rem;
}

.mod_wrapper:hover .mod_text {
  visibility: visible;
}


.pas{
  max-width: 20rem;
  width: 100%;
  max-height: 9.4rem;
  height: auto;
}

.pas_text {
  width: 12.5rem;
  visibility: hidden;
  z-index: -1;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-left: 2rem;
}

.pas_wrapper:hover .pas_text {
  visibility: visible;
}

.encounter{
  max-width: 20rem;
  width: 100%;
  max-height: 9.4rem;
  height: auto;
}

.encounter_text {
  width: 12.5rem;
  visibility: hidden;
  z-index: -1;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.encounter_wrapper:hover .encounter_text {
  visibility: visible;
}

@media screen and (max-width: 60rem){
  .uses{
    flex-direction: column;
  }
  
}

/* Architecture section */
.arch {
  height: auto;
  /* padding-top: 6rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.intro_topic3{
  font-size: 30pt;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.arch_instructions{
  text-align: center;
  padding-top: 2rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 13pt;
  height: auto;
}

.arch_diagram {
  /* background-color: blue; */
  position: relative;
  /* Makes so buttons can be clicked */
  z-index: 1;
  max-width: 32rem;
  width: 100%;
  max-height: 25rem;
  height: auto;
  color: black;
  margin-right: 5rem;

  
}

.unix_arch {
  width: 400px;
  height: 400px;
  margin-left: 20%;
  position: relative;
  /* background-color: rebeccapurple; */
}

/* Popup components */

.pop_container{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.hw_btn{
  /* background-color: black; */
  position:absolute;
  margin-left: 60%;
  margin-top: 50%;
  z-index: 1;
  animation: pulse 2s linear infinite;
}

.hw_btn:hover{
  cursor: pointer;
}

.hw_info{
  background-color: rgb(221, 255, 135);
  height: 120px;
  width: 200px;
  /* margin-left: 20rem; */
  position:relative;
}


.kernel_btn{
  position:absolute;
  margin-left: 42%;
  margin-top: 38%;
  z-index: 1;
  animation: pulse 3s linear infinite;
}

.kernel_btn:hover{
  cursor: pointer;
}

.kernel_info{
  background-color: rgb(124, 255, 124);
  height: 120px;
  width: 200px;
  /* right: 11%; */
  /* margin-left: 70%; */
  position:relative;
  /* z-index: 1; */
}

.shell_btn{
  z-index: 1;
  position:absolute;
  margin-left: 85%;
  margin-top: 40%;
  animation: pulse 2s linear infinite;
}

.shell_btn:hover{
  cursor: pointer;
}

.shell_info{
  background-color: rgb(251, 211, 126);
  height: 120px;
  width: 200px;
  /* margin-left: 21rem;
  margin-top: -27rem; */
  position:relative;
  /* z-index: 10; */
}

.applic_btn{
  z-index: 10;
  position:absolute;
  margin-left: 27%;
  margin-top: 25%;
  animation: pulse 3s linear infinite;
}
.applic_btn:hover{
  cursor: pointer;
}

.applic_info{
  background-color: rgb(126, 184, 251);
  height: 120px;
  width: 200px;
  /* right: 200px; */
  position:relative;
}

.stickynotes{
  display: none;
}

@media screen and (max-width: 60rem) {
  .pop_container{
    gap: 1rem;
  }
}


@media screen and (max-width: 55rem) {
 .hw_info, .kernel_info, .shell_info, .applic_info {
    display: none;
  }

  .hw_btn, .applic_btn, .shell_btn, .kernel_btn{
    display: none;
  }

  .arch_diagram{
    display: none;
  }

  .arch_instructions{
    display: none;
  }
  .stickynotes{
    display: flex;
    flex-direction: column;
  }

  .stickynotes a{
    color:#000;
    background:#ffc;
    display:block;
    height:20em;
    width:20em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(113, 113, 113, 0.7);
  }
  .stickynotes li:nth-child(even) a{
    color: #15b180;
    transform:rotate(4deg);
    position:relative;
    top:5px;
  }
  .stickynotes li:nth-child(1) a{
    color:rgb(232, 127, 145);
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
  .stickynotes li:nth-child(3n) a{
    color:rgb(232, 127, 145);
    transform:rotate(-5deg);
    position:relative;
    top:-10px;
  }
  .stickynotes li{
    margin: 1em;
  }

  .stickynotes h2{
    font-family: 'Reenie Beanie', "Lato";
    text-decoration: underline;
    font-size: 3rem;
  }

  .stickynotes p{
    padding-top: 1rem;
    font-family: 'Reenie Beanie', "Lato";
    font-size: 2rem;
  }

  .stickynotes a:hover, .stickynotes a:focus{
    box-shadow:10px 10px 7px rgba(113, 113, 113, 0.7);
    transform: scale(1.75);
    position:relative;
    z-index:1;
  }
}


.topic_quiz{
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.topic_quiz_title{
  text-align: center;
  text-decoration: underline;
  font-size: 40pt;
  padding-bottom: 6rem;
  color: rgba(132, 176, 102);
}

.topic_quiz img{
  max-width: 20rem;
  width: 100%;
  height: auto;
  background-color: white;
}

.topic_quiz button{
  font-size: 25pt;
  color: black;
  background: linear-gradient(100deg, #88ff00 0%, #7ac84d 20%, #3acd64 45%, #5eb080 70%, #11ffb3 90%);
  border: 3px inset rgb(254, 255, 254);
  max-width: 100%;
}

.topic_quiz button:hover{
  cursor: pointer;
}

@media screen and (max-width: 41rem) {

  .topic_quiz_title{
      font-size: 30pt;

  }

  .topic_quiz button{
      font-size: 15pt;
  }

  .topic_quiz img{
      width: 15rem;
  }

}


@keyframes pulse {
  to {
    opacity: .50;
    transform: scale(1);
  }
}