.module {
    max-width: 73em;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* This will stop page going after footer */
    overflow: hidden;
    color: rgba(255,255,255)
}

.module_body {
    flex: 1;
    margin-left: .75rem;
    margin-right: 0.75rem;
    line-height: 1.8rem;
}

.module_title {
    text-align: center;
    font-size: 60px;
    padding-top: 4rem;
    color: #fffacd
}

.module_intro {
    padding-bottom: 1rem;
    text-align: center;
    padding-top: 2rem;
}

.topic_title, .topic p{
    font-family:  'Source Code Pro', monospace;
}

span2{
    color: rgba(0, 255, 255, 0.916)
}

.topic span{
    color: rgb(253, 126, 126);
    font-family: 'Courier New', Courier, monospace;
} 

.topic_title{
    font-size: 25pt;
    padding-bottom: 1rem;
}


.topic{ 
    padding-bottom: 2rem;
}


.topic p{
    padding-top: 1rem;
    text-align: justify;
}

.topic_title{
    padding-top: 4rem;
   text-align: center;
    /* color: rgb(132, 176, 102); */
    color: rgba(255, 252, 127, 1)
}


table{
    border-collapse:collapse;
    margin: 0 auto;
    /* border-spacing: 0 15pt; */
    /* width: 100%; */ 
    /* overflow: hidden; */
    
}

td, th{
    /* width: 100%; */
    table-layout: fixed;
    border-style: dotted solid double dashed;
    border: 1px solid #52a76e;
    padding: 0.3em;
    overflow-x: auto;
    padding-left: .2rem;
}

 tr{
    width:0.1%;
    /* white-space: nowrap; */
 }


.topic .topic_ex{
    padding-top: 1rem;
    text-align: center;
}

.practice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 2rem;
}

.practice_title{
    text-align: center;
    text-decoration: underline;
    font-size: 40pt;
    padding-bottom: 3rem;
    color: rgba(132, 176, 102);
}
.practice_title:hover{
    cursor: pointer;
    color: rgb(220, 242, 205);
}

.practice img{
    max-width: 30rem;
    width: 100%;
    height: auto;
}


.topic_quiz{
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.topic_quiz_title{
    text-align: center;
    text-decoration: underline;
    font-size: 40pt;
    padding-bottom: 6rem;
    color: rgba(132, 176, 102);
}
.topic_quiz_title{
    cursor: pointer;
    color: rgb(220, 242, 205);
}

.topic_quiz img{
    max-width: 20rem;
    width: 100%;
    height: auto;
    background-color: white;
}




/* DM module css */

.dirM_nav {
    z-index: 2;
}

.dirM_struct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-indent: 4em;
    padding-bottom: 2rem;
}

.heirarchy_wrapper{
    display:flex;
    justify-content: center;
    width: 40rem;
   background-color: rgba(245, 245, 245, 0.629);
}

.dirM_heirarchy{
    padding-top: 3rem;
    max-width: 100%;
    height: auto;
}

.tree_img_resource{
    padding-top: 1rem;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 1rem;
}

/* End DM css */

/* Table responsiveness */

@media screen and (max-width: 90rem){
    table th{
        display: none;
    }

    table, table tbody, table tr , table td{
        display: block;
        width: 100%;
    }

    table td:nth-child(odd){
        display: none;
    }

    table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
    }

    
}

@media screen and (max-width: 52rem){
    .practice{
        display: none;
    }
}


@media screen and (max-width: 41rem) {

    .module_title{
        font-size: 35pt;
    }


    .topic_quiz_title, .practice_title{
        font-size: 30pt;

    }

    .topic_quiz button{
        font-size: 15pt;
    }

    .topic_quiz img{
        width: 15rem;
    }

    .practice img{
        width: 25rem;
    }

    .practice_link{
        font-size: 20pt;
        width: 20rem;

    }
    
}
