.quiz{
    background-color: grey;
    width: 70%;
    height: 100vh;
    z-index: 4;
    position: fixed;
    display: block;
    overflow-y:auto;
}

.close {
    background-color: white;
    width: 2rem;
    /* float: right; */
}

.close_icon{
    font-size: 2rem;

}


@media screen and (max-width: 31rem) {
    .quiz{
        width: 100%;
        overflow-y:scroll;
    }
}