.jungle_story{
    display: inline-block;

}

.story_text{
    text-align: left;
    color: black;

}

.s_img{
    width: 50%;
    padding-left: 5rem;
    float: right;
}

.s_input{
    background-color: white;
}


.clearFix{
    clear: both;
}