* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

.form-container input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/signin_bg.gif");
    background-position: 100% left;
    background-size: cover;
}

.form-container form{
    display: block;
    position:relative;
}

.form-container form::after{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: 1;
    /* background-image: linear-gradient(to bottom right, #FFCE00, #FE4800); */
    background-image: linear-gradient(to bottom right, #95fa63, #f5acff);
}

.form-container form .form-inner{
    position: relative;
    display: block;
    background-image: url("../../assets/background.jpg");
    background-position: 0% 50%;
    padding: 30px;
    z-index: 2;
}

.form-container form .form-inner h2{
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form-container form .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: block;
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-container .form-inner .form-group:focus-within label{
    /* color: #FE4800; */
    color: rgb(50, 168, 242)

}

.form-container form .form-inner .form-group input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: 0.4s;
}

.form-container form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.form-container form .form-inner input[type="submit"], 
.form-container .form-inner button
{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #FE4800);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color:#fff;
    font-weight: 700;
    cursor: pointer;
}

.form-container form .form-inner input[type="submit"]:hover, 
.form-container .form-inner button:hover
{
    background-position: 100% 0%;
}

textarea{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
}
.sign_up_btn{
    position: absolute;
    right: 0;
    margin-right: 2em;
}

.link-btn{
    position: absolute;
    color: white;
}

.home_link{
    z-index: 1;
    color: white;
}

.home_link:hover{
    cursor: pointer;
}

.fb-button{
    margin-top: 2rem;
}

.fb-button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
