.dropdown-container{
    font-weight: 600;
}

.dropdown-container span{
    color: white;
    font-size: x-large;
}

.dropdown-container select{
    display: inline-flex;
    margin-left: .2rem;
    height: 30px;
    position: relative;
}



