.sidebar{
    background-color: rgb(85, 126, 82);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.menu-bars{
    top: 5px;
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color:white;
    position: fixed;
}

.side-menu{
    background-color: rgb(85, 126, 82);
    width: 15%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    overflow: scroll;
}

.side-menu.active{
    left: 0;
    transition: 350ms;
}

.side-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}

.side-text a{
    color: white;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.side-text a:hover{
    background-color: grey;
    cursor: pointer;

}

.side-menu-items{
    width: 100%;
}

.sidebar-toggle{
    width: 100%;
    /* background-color: black; */
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.side_titles{
    margin-left: 1rem;
}

.home_link{
    top: 5px;
    position: fixed;
    right: 1rem;
    font-size: 16pt;
}

.home_icon{
    color: white;
}

.side_titles{
    color: whitesmoke;
}

@media screen and (max-width:414px) {
    .side-menu{
        width: auto
    }
    
}