.FMPractice{
    display: flex;
    flex-direction: row;
    gap: 30rem;
}


.FMPractice input{
    border:none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
    width: 100%;
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-left: 9.4em;
    margin-top: 1.8em;
    font-weight: 100;
    font-size: 20px;
    color:greenyellow;
}

.FMPractice .terminal{
    white-space: pre-line;
}


.fm_exit:hover, .fm_next:hover, .fm_restart:hover{
    cursor: pointer;
}

.fm_next{
    color:rgba(124, 255, 124);
    border: 2px solid;
    width: 50px;
    font-size: 13pt;
}

.fm_restart{
    color:rgba(124, 255, 124);
    border: 2px solid;
    margin-left: 10px;
    font-size: 13pt;
}

.fm_exit{
    /* position: relative; */
    border: 2px solid;
    /* margin-left: 33rem;
    padding-left: 2px; */
    padding-right: 2px;
    color:rgba(124, 255, 124);
    font-size: 13pt;
}


.FMPractice .terminal img{
    position: relative;
    width:700px;
    height:500px;
}

.grid_right{
    padding-right: 1rem;
}

@media screen and (max-width: 85rem){
    .FMPractice{
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    .grid_right{
        display: flex;
        flex-direction: column;
    }
    .btn_container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        height: 1.5rem;
    }

    .question_number, .question_text{
        margin-top: 1em;
    }

    .question_text{
        margin-bottom: 1em;
    }

    .fm_exit{
        margin: 0;
        margin-left: 25em;
    }
}