* {
    box-sizing: boarder-box;
    margin: 0;
    padding: 0;
}

/* @media only screen and (min-width: 1200px){
    .card body{
        display: flex;
    }
    
} */

.card body{
    margin: 2rem;
}

.cardDescr, .cardTitle{
    color:white;
}

.card_pic{
    width: 100%;
    height: 200px;

    /* width: 100px;
    height: 100px; */
}

.card{
    border-style: solid;
    background-color: rgb(107, 172, 94);
    color: white;
}
.card :hover{
    transform: scale(1.02);
}

.cardTitle{
    color:black;
}



