/* @media only screen and (min-width: 1200px){
    .card body{
        display: flex;
    }
    
} */

/* .card body{
    margin: 2rem;
} */

.cardDescr{
    color:white;
}

.card_pic{
    width: 100%;
    height: 200px;
    border-radius: 5px;

    /* width: 100px;
    height: 100px; */
}

.card{
    display: flex;
    flex-direction: column;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 300px;
    overflow: hidden;
    border-style: solid;
    background-color: rgb(107, 172, 94);
    color: white;
    border-radius: 8px;
    
}
.card :hover{
    transform: scale(1.02);
}

.cardTitle{
    color:black;
}
